[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
numpy = "<1.24.0,>=1.21.0"
mujoco = ">=2.3.0"
robosuite = "==1.4.1"
bddl = "*"
easydict = "*"
cloudpickle = "*"
num2words = "*"
h5py = "*"
pyyaml = "*"
scipy = "*"
libero = {git = "https://github.com/Lifelong-Robot-Learning/LIBERO.git"}
transformers = ">=4.35.0"
accelerate = ">=0.20.0"
safetensors = "*"
sentencepiece = "*"
protobuf = "*"
pillow = ">=9.0.0"
opencv-python = ">=4.5.0"
gymnasium = ">=0.28.0"
tqdm = "*"
huggingface-hub = "*"

[dev-packages]

[requires]
python_version = "3.10"
